main {
    
    &::before {
        content: '';
        width: 100%;
        height: 100vh;
        top: 0;
        overflow: hidden;
        position: fixed;
        display: inline-block;
        background-image: url('../images/windows-bg-000.png');
        opacity: 0.3;
        z-index: -1;
        
    }
    
    aside {
        border-right: .625rem solid #000;
        padding: $gt--sm;
        position: fixed;
        right: 0;
        width: 30%;
        top: 5rem;
        p {
            font-size: 1rem;
        }
        .archives, .elsewhere {
            text-align: right;
        }
        
        a {
            text-decoration: underline;
            font-size: 1rem;
            line-height: 1.5rem;

            &:hover {
                color: #fff;
            }
        }
        .elsewhere {

            li {
                margin: 1rem 0;
            }

            a {
                padding: .3rem;
                border: .09375rem solid #000;
            }
        }
    }

    .hero {
        position: relative;
        width: 100%;
        height: 100vh;
        z-index: 3;

        img {
            @include objFit--C-T;
            position: absolute;
            top: 0;
            z-index: -1;
        }
        h1 {
            font-family: 'Inconsolata', monospace;
            font-size: 8rem;
            color: yellow;
            padding: 5rem;
            mix-blend-mode: luminosity;
        }
    }

    .posts {
        padding: 5rem $gt--sm;
        .posts__list {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            column-gap: $gt--sm;
            width: 70%;

            .item__card {
                position: relative;
                margin: 5rem 0;
                .card__img {
                    width: 5.6875rem;
                    height: 8rem;
                    position: relative;
                    overflow: hidden;
                    img {
                        @include objFit--C-T;
                    }
                    svg path{
                        @include objFit--C-T;
                    }
                    svg {
                        position: absolute;
                        height: 100%;
                        top: 0;
                        left: 0;
                    }
                }
    
                h2 {
                    position: absolute;
                    top: 10%;
                    text-align: center;
                    font-size: 3rem;
                    font-family: 'Inconsolata', monospace;
                    color: #fff;
                    mix-blend-mode: difference;
                }
            }

            .card__info {
                font-size: 1rem;
            }

            .card__btn {
                text-align: right;
            }


            p {
                font-size: .8rem;
                padding: .2rem;
                display: -webkit-box;
                -webkit-line-clamp: 3;
                -webkit-box-orient: vertical;  
                overflow: hidden;
                border: .09375rem solid #000000;
                border-left: .625rem solid #000;
            }

            a {
                text-decoration: underline;
                color: pink;
            }

            .author-link {
                font-family: 'Inconsolata', monospace;
            }

            ._btn {
                padding: .3rem;
                border: .09375rem solid #000;
                text-decoration: none;
                color: #000;
            }
        }
    }

    .post {
        padding: 4rem .5rem;
        width: 80%;
        display: flex;
        align-items: right;
        flex-direction: column;
        color: #fff;
        
        &>*:not(img) {
            mix-blend-mode: difference;
        }

        h1 {
            font-family: 'Inconsolata', monospace;
            font-size: 4rem;
        }

        a {
            color: #fff;
            font-family: 'Inconsolata', monospace;
            text-decoration: underline;
        }

    }
}

@media screen and (max-width: 768px) {
    main {
        aside {
            width: 40%;
            top: 7rem;
            p, a {
                font-size: .6rem;
            }
            .archives {
                font-size: 1rem;
    
            }

            .elsewhere {

                li {
                    margin: .5rem 0;
                }
            }

            h3 {
                font-size: .7rem;
            }
        }   

        .post {
            padding: 6rem .5rem;
    
            h1 {
                font-size: 3rem;
            }    
        }

        .hero { 
            h1 {
                font-size: 3rem;
                padding: 7rem 2rem;
            }
        }

        .posts {
            padding: 4rem $gt--sm;
            .posts__list {
                grid-template-columns: 1fr;
                .item__card {
                    margin: 3rem 0;
        
                    h2 {
                        font-size: 2rem;
                    }
                }
    
                .card__info {
                    font-size: 1rem;
                }
    
    
                p {
                    font-size: .7rem;
                }
            }
        }
    }
}